body {
    background-image: url("https://benwilder.files.wordpress.com/2013/12/box-kleenex-43649836.jpg");
    background-size: cover;
    /*--This changes the font for the entire website to Helvetica.*/
    font-family: Helvetica;
    /*--This makes the font for the entire website yellow.*/
    color: black;
}


div{
    /*This CSS code in the div sets how our grid system will look, how wide and the color.*/
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 30px;
}

h1 {
    text-align:  center;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

img {
    /*This sets all images width to 350px and the height to auto correct
    itself to match that width*/
    width: 350px; 
    height: auto;  
}

#About{
    /*This corrects the grid system to line up with the other container.*/
    height: 157px;
    /*This code makes the "About Me" modal be in the center.*/
    text-align: center;
}
#AboutNav{
    /*This corrects the grid system to line up with the other container.*/
    height: 157px;
}



#w3{
    /*This id selector overrides the above img css code by calling specifically
    on the w3 image.*/
    width: 200px; 
    height: auto;
}

.modal-header{
    /*This makes the modal header have an light blue color.*/
    background-color: #a6e1ec;
}

.modal-body{
    /*This makes the modal body have an light blue color.*/
    background-color: #a6e1ec;
}

.modal-footer{
    /*This makes the modal footer have an light blue color.*/
    background-color: #a6e1ec;
}

.modal-dialog{
    /*This makes the modal dialog have a light blue color.*/
    background-color: #9acfea;
}

.modal-content{
    /*This makes the modal content have an light blue color.*/
    background-color: #a6e1ec;
}

.jumbotron{
    /*This makes the jumbotron have an light blue color.*/
    background-color: #a6e1ec;
}